[project]
	description = "Binary Comparison Utility for C# and Mono"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mariusz Kierski (chaser92)
[access "refs/for/refs/*"]
	read = group user/Mariusz Kierski (chaser92)
	push = group user/Mariusz Kierski (chaser92)
	label-Code-Review = -2..+2 group user/Mariusz Kierski (chaser92)
	label-Verified = -1..+1 group user/Mariusz Kierski (chaser92)
	rebase = group user/Mariusz Kierski (chaser92)
	removeReviewer = group user/Mariusz Kierski (chaser92)
	submit = group user/Mariusz Kierski (chaser92)
[access "refs/heads/*"]
	read = group user/Mariusz Kierski (chaser92)
	create = group user/Mariusz Kierski (chaser92)
	push = +force group user/Mariusz Kierski (chaser92)
	pushMerge = group user/Mariusz Kierski (chaser92)
[access "refs/tags/*"]
	push = group user/Mariusz Kierski (chaser92)
	push = +force group user/Mariusz Kierski (chaser92)
